/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/admin/*
/storage/*.key
/storage/app/public/exports/*
/storage/app/tmp_pdf
!/storage/app/tmp_pdf/.gitkeep
/storage/app/public/documents
!/storage/app/public/documents/.gitkeep
/vendor
/docs
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
ui/config.js
stories/_config.js
